.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: #B48B7D;
}
p {
  margin: 0;
  padding: 0;
}


/* -----------------Main------------------------- */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  background-color: #005C69;
  width: 26vw;
  color: white;
}

h2 {
  margin-top: 5vh;
  font-size: 30px;
  letter-spacing: 2.4px;
}

/* -----------------AddTodo------------------------- */
.addTodo {
  display: flex;
  align-items: center;
  width: 22vw;
  height: 6vh;
  border: 1px solid red;
  border-radius: 14px;
}

input {
  width: 16vw;
  height: 5vh;
  border: 1px solid red;
  border-radius: 14px;
}
.add {
  background-color: #D3AE4F;
  width: 3.5vw;
  height: 5vh;
  margin-left: 1.7vw;
  border: 1px solid red;
  border-radius: 14px;
}
.add:hover {
  cursor: pointer;
  
  border: 1px solid blue;
  border-radius: 14px;
}

































/* -----------------Main------------------------- */
